{{!< default}}

{{!-- This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}

<header class="pages-nav">
  {{#if @blog.logo}}
    <a class="logo" href="{{@blog.url}}" style="background-image: url('{{@blog.logo}}');">
      {{@blog.title}}
    </a>
  {{else}}
    <a class="no-logo" href="{{@blog.url}}">
      {{@blog.title}}
    </a>
  {{/if}}
</header>

<div class="site-wrapper">

  <header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}"></header>

  <main class="content" role="main">
      <article class="{{post_class}}">

          <section class="post-content">
              {{content}}
          </section>

      </article>
  </main>
</div>
{{/post}}
