{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header --}}
{{#if @blog.cover}}
  <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="main-header-content inner">
        <h1 class="page-title">{{@blog.title}}</h1>
        <h2 class="page-description">{{@blog.description}}</h2>
    </div>
  </header>
{{else}}
  <header class="hero-section">
    {{> "home-project"}}
  </header>
{{/if}}

{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">

  {{#get "posts" filter="featured:true" order="published_at desc" include="tags" as |about|}}
    {{#foreach about}}
      {{#has tag="about-us"}}
        <article class="{{post_class}}">
          <header class="post-header">
            <h2 class="post-title">{{title}}</h2>
          </header>

          <section class="post-content">
            <p>{{content}}</p>
          </section>
        </article>
      {{/has}}
    {{/foreach}}
  {{/get}}

  {{#get "posts" order="published_at asc" include="tags" as |brand|}}
    <article class="tag-brand">
      <h2>Nuestras Marcas</h2>

      {{#foreach brand}}
        {{#has tag="brand"}}
          <figure class="case-study {{post_class}}">
            <a href="{{@blog.url}}/tag/brands#{{slug}}"{{#if image}}style="background-image: url('{{image}}');"{{/if}}>
              {{#if image}}
                <img src="{{image}}" alt="{{title}}">
              {{else}}
                <h3>{{title}}</h3>
              {{/if}}
            </a>
          </figure>
        {{/has}}
      {{/foreach}}
    </article>
  {{/get}}

</main>
